<div class="posts cf">
  <ul class="posts-list">
    <%
    posts.forEach(function(post, index, array) {
      %>
      <li class="post-link">
        <span class="post-date">
          <%= formatDate(post.date, 'YYYY/MM/DD') %>
        </span>
        <a class="post-title" href="<%= post.url %>">
          <%= post.title %>
        </a>
        <span class="post-description">
          <a href="<%= post.url %>">
            <%= post.description %>
          </a>
        </span>
        <div class="post-link-tags">
          <%- include('../_includes/post_tag.html.ejs', {post: post}); %>
        </div>
      </li>
      <%
    });
    %>
  </ul>
</div>
<div class="tags">
  <div class="tags-title">タグ</div>
  <%- include('../_includes/all_tag.html.ejs', {addClass: 'tag-index'}); %>
</div>
